.header{
    color: red;
}

.code{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0);
    border-radius: 10px;
    margin: 100px auto;
    width: 300px;
    background-color: white;
}
.codigo{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.codigo input{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.codigo input:focus{
    border-color: red;
    outline: none;
    transition: 0.5s;
}

#button{
    
    margin-top: 30px;

}
#button button{
    background-color: black;
    color: white ;
    padding: 10px 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease
}
#button button:hover{
    background: red;
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px black;
}
body{
     
    background: linear-gradient(to right, black, grey);
}