body{
     
     background: linear-gradient(to right, black, grey);
}
.email{
    font-family: Arial, sans-serif;
    text-align: center;
}
.password{
    font-family: Arial, sans-serif;
    text-align: center;
}
#header{
    font-family: Arial, sans-serif;
    text-align: center;
    color: red;
    font-size: 18px;
}
.login{
    width: 300px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    color: black;
}
#button{
    
    margin-top: 30px;

}
#button button{
    background-color: black;
    color: white ;
    padding: 10px 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease
}
#button button:hover{
    background: red;
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px black;
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}
input:focus{
    border-bottom: 2px solid red;
}
#pp{
     font-family: Arial, sans-serif;
    }

.camp{
    position: relative;
    margin-bottom: 30px;
}
.camp input{
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
}
.camp label{
    position: absolute;
    left: 0;
    top: 10px;
    color: grey;
    transition: 0.3s;
}

.camp input:focus + label,
.camp input:valid + label{
    top: -15px;
    font-size: 12px;
    color: grey;
}
#options{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    gap: 1px;
}

a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
}
p{
    color: black;
    font-family: Arial, sans-serif;
}
#kreat{
    text-decoration: none;
}
#kreat:hover{
    text-decoration: underline;
}
