body{
    background: linear-gradient(to right, black, grey);
}
.forgot{
    background-color: white;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
#header{
    color: red;
    text-align: center;
}
#button{
    margin-top: 30px;

}
#button button{
    background-color: black;
    color: white ;
    padding: 10px 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease
}
#button button:hover{
    background: red;
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px black;
}
.camp{
    position: relative;
    margin-bottom: 30px;
}
.camp input{
    width: 100%;
    border: none;
    border-bottom: 2px solid grey;
    padding: 10px 0;
    font-size: 16px;
    outline: none;
}
.camp label{
    position: absolute;
    left: 0;
    top: 10px;
    color: grey;
    transition: 0.3s;
}

.camp input:focus + label,
.camp input:valid + label{
    top: -15px;
    font-size: 12px;
    color: grey;
}
    
input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

.email{
    text-align: center;
    font-family: Arial, sans-serif;
}
p{
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
}